* {
    font-family: Helvetica;
}

h1 {
    font-size: 22px;
    font-weight: 800;
    color: lightpink;
    background-color: darkolivegreen;
}

ul,
ol,
li {
  font-size: 14 px;
  font-weight: 100;
  color: black;
}

a:link {
    font-size: 14px;
    font-weight: 100;
    color: blue;
}

a:hover {
    color: cadetblue;
}

a:visited {
    color: grey;
}

.main-title {
    font-size: 48px;
    color: darkolivegreen;
    background-color: lightpink;
}